---
import Base from "./Base.astro";

export interface Props {
  content: {
    title: string;
    description: string;
  };
}

const { content, headings } = Astro.props;
---

<Base content={content}>
  <article>
    <h1>{content.title}</h1>

    <slot />
  </article>
</Base>
